<!DOCTYPE html>
<html>
<head>
  <title>WasteWatcherApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Data</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "See Weighings", weighings_path %></li>
            <li><%= link_to "See Sessions", sessions_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
	  <% if request.path =~ /^\/sessions\/\d*/ %>
      <div class="span3">
       	<div id="weigh_counts"><%= Weighing.all.count %></div>
<br/>
	  <%= link_to t('.destroy', :default => t("End Session")),
	              root_url,
	              :class => 'btn btn-danger' %>
      </div>
     <% end %>
    </div>
  </div>
</body>
</html>
